.our_blog{
    width: 1440px;
    height: 773px;
    margin: 0 auto;
    border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our_blog h1{
    width: 634px;
    height: 54px;
    line-height: 54px;
    color: var(--primary-color);
    font-size: 44px;
    margin: 0 auto;
}
.our_blog-cards{
    display: flex;
    justify-content: space-between;
    margin: 60px 135px;
}